.offers {
	margin-bottom: 100px;
}

.offers__title {
	font-size: 32px;
	margin: 0 0 30px 0;
}

.offers__container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.offers__card {
	position: relative;
	width: 370px;
	min-height: 400px;
	padding: 20px;
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	margin-bottom: 30px;
}

.offers__circle {
	position: absolute;
	top: 25px;
	left: 20px;
	display: block;
	height: 15px;
	width: 15px;
	border-radius: 50%;
}

.offers__circle_first {
	background-color: rgba(0, 255, 8, .5);
}
.offers__circle_second {
	background-color: rgba(255, 213, 0, .5);
}

.offers__name {
	font-size: 22px;
	margin-bottom: 50px;
	text-align: center;
}

.offers__list {
	margin-bottom: 50px;
}

.offers__list li {
	font-size: 18px;
	line-height: 36px;
}

.offers__btn {
	display: block;
	margin: 0 auto;
}